* {
	margin: 0;
	padding: 0;
}
/*body {
	background-color: grey;
}*/
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.nav-menu {
	margin-top: 5px;
	line-height: 30px;
	font-family: "DejaVu Sans";
	float:right;
	font-size: 13px;
	/*background-color: #855;*/
	display: block;
}
.nav-menu a {
	display: inline-block;
}
.nav-menu li {
	vertical-align: middle;
	display: inline-block;
	margin-left: 14px;
}
.nav-menu ul li:last-child {
	margin-right: 25px;
	margin-left:  10px;
}

#opacity {
	color: #555;
}

#apps {
	display: inline-block;
	line-height: 24px;
	background-image: url('../media/icons.png');
	background-size: 528px 68px;
	background-position:  -131px -39px;
	height: 30px;
	weight: 30px;
	opacity: .55;
	margin-left: 8px;
}
#apps:hover {
	
	opacity: 1;
}
#notifications {
	position: absolute;
	background-image: url('../media/icons.png');
	background-position: 330px 43px;
	width: 22px;
	height: 22px;
	top: 25px;
	right: 66px;
}




#bell {
	vertical-align: middle;
	height: 22px;
	width: 22px;
	background-color:  #888888;
	border-radius: 100%;
	margin-left: 8px;
	padding: 0;
}

#bell:hover {
	background-color:  #000;
}

.search-form  {
	position: relative;
	clear: right;
	/*background-color: #bbb;*/
	padding-top: 135px;
}

.search-form img {
	display: block;
	margin: auto;
}

.wrap {
	text-align: center;
}

.wrap input:nth-child(3){
	clear: left;
}

#sb {
	display: block;
	margin: 30px auto;
	line-height: 25px;
}



input[type="submit"] {
	font-family: sans-serif;
	width: 160px;
	height: 35px;
	border: 0px;
	margin: 0 5px;
	font-weight: bold;
	color: #777;
}

input[type="submit"]:hover {
	/*border: 1px solid #bbb;*/
	box-shadow: 0 0 1px 0;
	/*background-color: #F6F6F6;*/
	font-weight: bold;
	color: black;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

li {
	bottom: 0px;
}

.footer {
	font-family: "DejaVu Sans";
	font-size: smaller;
	line-height: 40px;
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #F2F2F2;
	border-top: 1px solid #ddd
}
.footer ul {
	height: 100%;
	display: inline-block;
	list-style-type: none;

}
.footer a {
	text-decoration: none;
}

.left-menu {

	float: left;
}

.right-menu {

	float: right;
}

.left-menu li {
	height: 100%;
	display: inline-block;
	margin-right: 20px;
}

.left-menu li:first-child {
	margin-left: 30px;
}


.right-menu li {
	height: 100%;
	display: inline-block;
	margin-left: 20px;
}

.right-menu li:last-child {
	margin-right: 30px;
}

.footer a {
	color: #555;
	margin: auto;
	height: 100%;
	display: block;
}
